<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RtgsFileProcessor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <section name="MailerConfig" type="System.Configuration.NameValueFileSectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>

  <MailerConfig configSource="MailSettings.config">
  </MailerConfig>
  
  <connectionStrings>
    <add name="EFT_NewEntities" connectionString="metadata=res://*/DAL.EFTModel.EFTModel.csdl|res://*/DAL.EFTModel.EFTModel.ssdl|res://*/DAL.EFTModel.EFTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.225.158;Initial Catalog=RTGS_DB;Persist Security Info=True;User ID=sa;Password=123456;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <appSettings>
    <add key="OwnBankCode" value="055"/>
    <add key="BBCode" value="025"/>
    <add key="DefaultBranchCode" value="000"/>
    <add key="maxfile" value="10"/>
    <add key="Interval" value="5"/>
    <add key="InwardPath" value="E:\projects\RTGS\RtgsWeb\file\Inward"/>
    <add key="InwardPathBackup" value="E:\projects\RTGS\RtgsWeb\file\InwardBackup"/>
    <add key="InwardPathAck" value="E:\projects\RTGS\RtgsWeb\file\Ack"/>
    <add key="InwardPathNak" value="E:\projects\RTGS\RtgsWeb\file\Nak"/>
    <add key="OutwardPath" value="E:\projects\RTGS\RtgsWeb\file\Outward"/>
    <add key="CurrencyList" value="BDT"/>
    <!--<add key="CurrencyList" value="BDT,USD,EUR" />-->
    <add key="CbsName" value="T24"/>
    <!--blank to ignore -->
    <add key="T_GetAcUrl" value="http://localhost:35803/test"/>
    <add key="T_FTUrl" value="http://localhost:35803/test"/>
    <!--<add key="T_GetAcUrl"       value="http://localhost:8084/tb/auth/vr.html" />-->
    <!--<add key="T_FTUrl"          value="http://localhost:8084/tb/auth/ft.html" />-->
    <add key="T_LoginId" value="altitude"/>
    <add key="T_Password" value="altitude"/>
    <add key="T_RssGetAc" value="GLOBUS123"/>
    <add key="T_RssI" value="GLOBUS123"/>
    <add key="T_RssA" value="GLOBUS123"/>
    <add key="T_RssR" value="GLOBUS123"/>
    <add key="T_RssD" value="GLOBUS123"/>
    <add key="T_FtVersionZero" value="RTGS"/>
    <add key="T_FtVersionAuth" value="RTGS.AUTH"/>
    <add key="T_FtTxType" value="ACRG"/>
    <add key="T_FtSuccess" value="1"/>
    <add key="T_ErrorToken" value="BRIDGE_ERROR"/>
    <add key="T_ErrorParser" value=":"/>
    <add key="T_HOParkingAcc" value="1230000012345:BDT,1230000012366:USD,1230000012399:EUR"/>
    <add key="T_LogResponse" value="1"/>
    <add key="T_BranchId" value="BD0010001"/>
    <add key="CertCn" value="PRBLBDDHBXXXCBS"/>
    <add key="CertExpiry" value="11-08-2020"/>
    <add key="SignMessage" value="false"/>
    <add key="FtpInfo" value="ftp://192.168.225.16/;rashed;321"/>
    <add key="InLocal" value="E:\projects\RTGS\RtgsWeb\file\Inward"/>
    <add key="InFtp" value="Inward/Test"/>
    <add key="InFtpComplete" value="Complete"/>
    <add key="OutLocalComplete" value="Complete"/>
    <add key="OutFtp" value="Outward/Test"/>
    <!--blank to ignore sending-->
    <add key="ShowDownload" value="1"/>

    <!--SMS-->
    <add key="T_SmsUrl" value="http://192.168.200.25:8080/PblSmsGwMask/SmsService"/>

    <add key="T_LoginIdSms" value="rtgsuser"/>
    <add key="T_PasswordSms" value="test"/>
    <!--<add key="SmsInRet" value="Dear Sir/Madam, {0}{1} has been returned  in your a/c {2} through BD-RTGS as {3}. Prime Bank Ltd."/>
    <add key="SmsIn" value="Dear Sir/Madam, {0}{1} has been credited in your a/c {2} through BD-RTGS. Prime Bank Ltd."/>
    <add key="SmsOut" value="Dear Sir/Madam, {0}{1} has been debited from your a/c {2} through BD-RTGS. Prime Bank Ltd."/>-->
    
    <add key="SmsInRet" value="Dear Customer, {0}{1} has been returned  in your a/c {2} on {3} through BD-RTGS. Your current balance is {4}"/>
    <add key="SmsIn" value="Dear Customer, {0}{1} has been credited in a/c {2} on {3} through BD-RTGS. Your current balance is {4}"/>
    <add key="SmsOut" value="Dear Customer, {0}{1} has been debited from a/c {2} on {3} through BD-RTGS. Your current balance is {4}"/>

    <add key="AddDateBeforeTxId" value="True"/>
    <add key="LogDetails" value="True"/>
    
    <!--log parse-->
    <add key="StpLogFile" value="E:\projects\RTGS\RtgsFileProcessor\bin\Release\STPAdapter_ALL.log"/>
    <add key="StpLogParsingOutput" value="E:\projects\RTGS\RtgsFileProcessor\bin\Release\temp.txt"/>
    <add key="LogParseIntervalMinute" value="1"/>

    <add key="log4net.Config" value="log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    
    <add key="ConfigureSenderMailer" value="True" />
    <add key="ConfigureReceiverMailer" value="True" />

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <userSettings>
    <RtgsFileProcessor.Properties.Settings>
      <setting name="interval" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="ip" serializeAs="String">
        <value>ip</value>
      </setting>
      <setting name="name" serializeAs="String">
        <value>name</value>
      </setting>
      <setting name="password" serializeAs="String">
        <value>123456</value>
      </setting>
      <setting name="inFtp" serializeAs="String">
        <value>inftp</value>
      </setting>
      <setting name="inLocal" serializeAs="String">
        <value>inlocal</value>
      </setting>
      <setting name="outFtp" serializeAs="String">
        <value>outftp</value>
      </setting>
    </RtgsFileProcessor.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
